* {
    margin: 0;
    border: 0;
}

body {
    background: url('./img/Home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 100vh;
}

#content {
    display: flex;
    justify-content: center;
    height: 100%;
    
}

.wrapper {
    width: 60%;
}

.header {
    margin-top: 1.4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header > p {
    color: #FFF;
    font-size: 2.3rem;
}

.header div {
    display: flex;
    color: #fff;
    font-size: 1.2rem;
}

.header > div > p {
    margin: 0 1rem;
}

.content-wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    width: 100%;
    color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-content h1 {
    font-size: 3rem;
}

.home-content p {
    line-height: 1.6rem;
    margin: 3rem 0;
    font-size: 1.4rem;
    text-align: center;
}

.menu-content {
    width: 100%;
    color: #FFF;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 1rem;
}

.menu-content h1 {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 3rem;
}

.menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.3rem;
}

.menu-list p {
    margin-top: 1rem;
}

.contact-content {
    color: #FFF;
    line-height: 2rem;
    font-size: 1.3rem;

    width: 100%;
    color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-content h1 {
    margin-bottom: 4rem;
}